linkedin = https://www.linkedin.com/in/sidhant-kumar-7a2889258/
github=  https://github.com/sidhantsksk

This notebook is my personal python notes
and is made  according to the sallybus of IITM BS Python course 
extras include  the built in functions which are not needed its attached just for the refrence

note- To run a particular block of code select the block of code and click run or ▶️ button

-----------------------------------------------------------variable are containers to store data---------------------------------------------------------

In [3]:
a=5
b="sid"
c='iitm'
d=71.2
adding_space="this is how u add space between two words"
print(a)
print(b)
print(c)
print(d)
print(adding_space)

5
sid
iitm
71.2
this is how u add space between two words

-----------------------------------------------------------------Print Function--------------------------------------------------------------------------

In [20]:
hello=90
print(hello)  #this will print  value hello is storing
print("hello")  #this will print hello as its quoted

90
hello

----------------------------------------------------------Input Function---------------------------------------------------------------------------------

In [17]:
a=int(input("enter number to take input"))
print(a)   #will only take input of integers
b=input()
print(b)  #can take any type of input  which are stings or integer

enter number to take input 5

5

 sf

sf

---------------------------------------------------------Comments----------------------------------------------------------------------------------------
# Comments are used to store info about the code and are not executed 
To write comments use #

In [4]:
print("hello")  
#bfshioiwrjeiuidsjfiskandfioahiefja-owrf-0aeifihjewakrjf09dusfiovsjdofvjsa09d0uiew9orjoewjf   THEsE ARE COMMENTS IGNORED BY INTREPRETER
print("no error")

hello
no error

---------------------------------------------------------------strings-----------------------------------------------------------------------------------

QUOTES
single quote  '  '
double quotes  "  "
tripple quotes '''   ''''

In [7]:
print('single quote')
print("double quote")
print('''triple quote''')
#this is how u add  multiple lines  string 
a= '''there
is
a
cat'''
print(a)

single quote
double quote
triple quote
there
is
a
cat

--------------------------------------------------------------------------BOOLEAN------------------------------------------------------------------------

In [9]:
# Boolean variables
is_sunny = True
is_warm = False

# Simple boolean check
if is_sunny:
    print("It's sunny!")

if not is_warm:
    print("It's not warm.")

It's sunny!
It's not warm.

In [ ]:
---------------------------------------------Python automatically identifies type of data ---------------------------------------------------------------

In [10]:
a=5
b="sid"
c='iitm'
d=71.2
e=None
f=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'NoneType'>
<class 'bool'>

-----------------------------------------------------------OPERATORS-------------------------------------------------------------------------------------
Python supports various operators that allow you to perform operations some of them are

Arithmetic Operators:

+ (Addition)
- (Subtraction)
* (Multiplication)
/ (Division)
% (Modulus)
** (Exponentiation)
// (Floor Division)

In [ ]:
a = 10
b = 3
result = a + b

Comparison Operators:

== (Equal to)
!= (Not equal to)
< (Less than)
> (Greater than)
<= (Less than or equal to)
>= (Greater than or equal to)

In [ ]:
x = 5
y = 7
result = x > y

Logical Operators:

and (Logical AND)
or (Logical OR)
not (Logical NOT)

In [ ]:
is_sunny = True
is_warm = False
result = is_sunny and not is_warm

Assignment Operators:

= (Assignment)
+= (Add and assign)
-= (Subtract and assign)
*= (Multiply and assign)
/= (Divide and assign)
%= (Modulus and assign)
**= (Exponentiate and assign)
//= (Floor divide and assign)

In [ ]:
x = 10
x += 5  # Equivalent to x = x + 5

Identity Operators:

is (True if the operands are identical)
is not (True if the operands are not identical)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
result = a is not b

Membership Operators:

in (True if a value is found in the sequence)
not in (True if a value is not found in the sequence)

In [40]:
fruits = ['apple', 'banana', 'orange']
is_banana_in_fruits = 'banana' in fruits
print(is_banana_in_fruits)

True

-----------------------------------------------------------------If Else-------------------------------------------------------------------------------

#Python Conditions and If statements
Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

ELIF

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

ELSE

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

-------------------------------------------------------------------LOOPS---------------------------------------------------------------------------------

Python Loops
Python has two primitive loop commands:

while loops
for loops

In [ ]:
#while Loop
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
#The break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
#The continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
#else Statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

#Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
#The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
#The continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
#The range() Function
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

In [ ]:
#Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

In [ ]:
#Nested Loops
#A nested loop is a loop inside a loop.
#
#The "inner loop" will be executed one time for each iteration of the "outer loop":
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
#Example 1: Print each element in a list multiple times
numbers = [1, 2, 3, 4]

for num in numbers:
    for _ in range(3):  # Print each number three times
        print(num, end=" ")

-----------------------------------------------------------------------LISTS-----------------------------------------------------------------------------
Py lists are dynamic size of array 
a list is a collection of items enclosed in [] and is seperated by ,

In [14]:
a=['cat' , "dog" , '''cow''']
print(a)

['cat', 'dog', 'cow']

------------------------------------------------CREATING A LIST AND ACCESSING THEM USING INDEX-----------------------------------------------------------

In [16]:
list=["indian" , "institute", "of" , "technology"]
print(list)

['indian', 'institute', 'of', 'technology']

In [ ]:
-----------------------------------------------------storing mixed data types in list--------------------------------------------------------------------

In [26]:
a=[1,565.5,'demo','true']
print(a)

[1, 565.5, 'demo', 'true']

-------------------------------------------------------ACCESSING LIST USING INDEX------------------------------------------------------------------------

In [25]:
a=['1','565.5','demo','true']
print(list[0])
print(list[2])
print(list[3])

indian
of
technology

creating list of numbers

In [ ]:
list=[10,20,30,40,50]
print(list)

------------------------------------------------------------------List Operations------------------------------------------------------------------------

In [2]:
l=[1,8,5498,48,5,9,10,52,58,66,48,816]
l.sort()
#sort all elements in ascending order
print(l)


l.reverse()
#reverse the given string
print(l) 


l.append(9999999)
#adding element in list
print(l)


l.remove(5498)
#remove the givn element
print(l)


l.pop(4)
#delete the element at index 4
print(l)


l.insert(3,8)
#inserting element 8 at th 3rd index of list
print(l)

[1, 5, 8, 9, 10, 48, 48, 52, 58, 66, 816, 5498]
[5498, 816, 66, 58, 52, 48, 48, 10, 9, 8, 5, 1]
[5498, 816, 66, 58, 52, 48, 48, 10, 9, 8, 5, 1, 9999999]
[816, 66, 58, 52, 48, 48, 10, 9, 8, 5, 1, 9999999]
[816, 66, 58, 52, 48, 10, 9, 8, 5, 1, 9999999]
[816, 66, 58, 8, 52, 48, 10, 9, 8, 5, 1, 9999999]

---------------------------------------------------------FINDING THR SIZE OF PYTHON LIST-----------------------------------------------------------------

In [3]:
LIST=[]
print(len(LIST))


l=[10,55,858]
print(len(l))

0
3

---------------------------------------------------TAKING INPUT IN PYTHON LISt---------------------------------------------------------------------------

In [4]:
a="hellohoneybunny"
b=a.split()
print(b)

['hellohoneybunny']

In [19]:
a="hello,honey,bunny"
b=a.split(',')
print(b)

['hello', 'honey', 'bunny']

In [8]:
a=" hello   honey   bunny "
b=a.split()
print(b)

['hello', 'honey', 'bunny']

In [7]:
a="hello Honey Bunny"
b=a.split()
print(b)

['hello', 'Honey', 'Bunny']

In [ ]:
n = int(input("Enter the size of the list: "))
a = list(map(int, input("Enter the integer elements: ").strip().split()))[:n]
print("The list is:", a)

In [ ]:
-----------------------------------------------------------------MATRIX ADDITION-------------------------------------------------------------------------

In [13]:
dim = 3

# Matrix A
r1 = [1, 2, 3]
r2 = [4, 5, 6]
r3 = [7, 8, 9]
A = [r1, r2, r3]

# Matrix B
s1 = [9, 8, 7]
s2 = [6, 5, 4]
s3 = [3, 2, 1]
B = [s1, s2, s3]

# Matrix C (result of A + B)
C = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# Matrix addition
for i in range(dim):
    for j in range(dim):
        C[i][j] = A[i][j] + B[i][j]

# Print matrices
print("Matrix A:")
for row in A:
    print(row)

print("\nMatrix B:")
for row in B:
    print(row)

print("\nMatrix C (A + B):")
for row in C:
    print(row)

Matrix A:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Matrix B:
[9, 8, 7]
[6, 5, 4]
[3, 2, 1]

Matrix C (A + B):
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [ ]:
-----------------------------------------------------------MATRIX MULTIPLICATION-------------------------------------------------------------------------

In [14]:
dim = 3

# Matrix A
A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Matrix B
B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

# Resultant Matrix C
C = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# Matrix multiplication
for i in range(dim):
    for j in range(dim):
        for k in range(dim):
            C[i][j] += A[i][k] * B[k][j]

# Print matrices
print("Matrix A:")
for row in A:
    print(row)

print("\nMatrix B:")
for row in B:
    print(row)

print("\nMatrix C (A * B):")
for row in C:
    print(row)

Matrix A:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Matrix B:
[9, 8, 7]
[6, 5, 4]
[3, 2, 1]

Matrix C (A * B):
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

-----------------------------------------------------------SEARCHING IN LIST-----------------------------------------------------------------------------

In [ ]:
my_list = [1, 2, 3, 4, 5]
target_element = 3

if target_element in my_list:
    print(f"{target_element} found in the list.")
else:
    print(f"{target_element} not found in the list.")

---------------------------------------------------------------SORTING IN LIST--------------------------------------------------------------------------

In [ ]:
my_list = [4, 2, 8, 1, 6, 3, 7]

# Use sorted() to create a new sorted list
sorted_list = sorted(my_list)

print("Original list:", my_list)
print("Sorted list:", sorted_list)

In [ ]:
--------------------------------------------PYTHON LIST BUILT IN FUNCTIONS------------------------------------------------------------------------------

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

---------------------------------------------------------------STRINGS ----------------------------------------------------------------------------------

-----concatenation of strings-adding two strings

In [24]:
a='hi'
b= 'sidhant'
print(a+b)

hisidhant

------string slicing

In [28]:
word = "amazing"

# Slicing and printing
slice1 = word[:7]
print(slice1)  # Output: amazing

slice2 = word[0:]
print(slice2)  # Output: amazing

slice3 = word[3:]
print(slice3)  # Output: zing

slice4 = word[:5]
print(slice4)  # Output: amazi

slice5 = word[0:4:6]
print(slice5)  # Output: a

amazing
amazing
zing
amazi
a

--------------REVERSING STRING-----------------------------

In [30]:
word="amazing"
print(word[::-1])

gnizama

In [ ]:
------------------------------------------------------STRING FUNCTIONS-----------------------------------------------------------------------------------

#      len()         to find length of string
#      string.Capatalize()      this function capatalise the first character of string
#       string.replace(old word,new word)    this function replace old word with new word in entire string
#       string.count("i")     this function counts total number of any character
#       string.find(word)      this function  finds a word and return the index of 1st occurance of that word in the string
#       string.endswith("ant")   if the string end with "ant"  then return true else will return false

In [39]:
string = "sidhant"

# Get the length of the string
length = len(string)
print("Length of the string:", length)

# Capitalize the string
capitalized_string = string.capitalize()
print("Capitalized string:", capitalized_string)

# Count occurrences of the letter 'i' in the string
count_i = string.count("i")
print("Count of 'i' in the string:", count_i)

# Find the index of the first occurrence of 'a' in the string
index_a = string.find("a")
print("Index of 'a':", index_a)

# Check if the string ends with "ant"
ends_with_ant = string.endswith("ant")
print("String ends with 'ant':", ends_with_ant)

# Replace 's' with 'm' in the string
replaced_string = string.replace("s", "m")
print("String after replacement:", replaced_string)

Length of the string: 7
Capitalized string: Sidhant
Count of 'i' in the string: 1
Index of 'a': 4
String ends with 'ant': True
String after replacement: midhant

-----------------------------------------------------------STRINGS BUILT IN FUNCTIONS--------------------------------------------------------------------

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

-------------------------------------------------------------------DICTIONARY----------------------------------------------------------------------------

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicate
Dictionaries are written with curly brackets, and have keys and values:s.

In [ ]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
#Dictionaries cannot have two items with the same key:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
#ACCESS DICTIONARY ITEMS
Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
#Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [ ]:
#Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [ ]:
#Adding Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

In [ ]:
#Removing Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
-------------------------------------------------------------------------SETS----------------------------------------------------------------------------

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
#Duplicates Not Allowed
#Sets cannot have two items with the same value.
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
#Get the Length of a Set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
#Set Items - Data Types
#Set items can be of any data type:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
#Access Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
BUILT IN FUNCTIONS IN SETS

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two or more sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with another set, or any other iterable

In [ ]:
----------------------------------------------------------------TUPLE----------------------------------------------------------------------------------

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

In [ ]:
#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
#Allow Duplicates
#Since tuples are indexed, they can have items with the same value:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
#UPDATING TUPLE
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
#REMOVING ITEMS FROM TUPLE
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

--------------------------------------------------------------Python Functions---------------------------------------------------------------------------

In [ ]:
------------------------------------------------------------------FILES----------------------------------------------------------------------------------

In [ ]:
BUILT IN FUNCTIONS IN FILES

close()	Closes the file
detach()	Returns the separated raw stream from the buffer
fileno()	Returns a number that represents the stream, from the operating system's perspective
flush()	Flushes the internal buffer
isatty()	Returns whether the file stream is interactive or not
read()	Returns the file content
readable()	Returns whether the file stream can be read or not
readline()	Returns one line from the file
readlines()	Returns a list of lines from the file
seek()	Change the file position
seekable()	Returns whether the file allows us to change the file position
tell()	Returns the current file position
truncate()	Resizes the file to a specified size
writable()	Returns whether the file can be written to or not
write()	Writes the specified string to the file
writelines()	Writes a list of strings to the file

File Handling
The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

Syntax
To open a file for reading it is enough to specify the name of the file:

f = open("demofile.txt")
The code above is the same as:

f = open("demofile.txt", "rt")

To open the file, use the built-in open() function.

The open() function returns a file object, which has a read() method for reading the content of the file:

ExampleGet your own Python Server
f = open("demofile.txt", "r")
print(f.read())
If the file is located in a different location, you will have to specify the file path, like this:

Example
Open a file on a different location:

f = open("D:\\myfiles\welcome.txt", "r")
print(f.read())
Read Only Parts of the File
By default the read() method returns the whole text, but you can also specify how many characters you want to return:

Example
Return the 5 first characters of the file:

f = open("demofile.txt", "r")
print(f.read(5))
Read Lines
You can return one line by using the readline() method:

Example
Read one line of the file:

f = open("demofile.txt", "r")
print(f.readline())
By calling readline() two times, you can read the two first lines:

Example
Read two lines of the file:

f = open("demofile.txt", "r")
print(f.readline())
print(f.readline())
By looping through the lines of the file, you can read the whole file, line by line:

Example
Loop through the file line by line:

f = open("demofile.txt", "r")
for x in f:
  print(x)
Close Files
It is a good practice to always close the file when you are done with it.

Example
Close the file when you are finish with it:

f = open("demofile.txt", "r")
print(f.readline())
f.close()

Write to an Existing File
To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

ExampleGet your own Python Server
Open the file "demofile2.txt" and append content to the file:

f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())
Example
Open the file "demofile3.txt" and overwrite the content:

f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the overwriting:
f = open("demofile3.txt", "r")
print(f.read())
Note: the "w" method will overwrite the entire file.

Create a New File
To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

Example
Create a file called "myfile.txt":

f = open("myfile.txt", "x")
Result: a new empty file is created!

Example
Create a new file if it does not exist:

f = open("myfile.txt", "w")

Delete a File
To delete a file, you must import the OS module, and run its os.remove() function:

ExampleGet your own Python Server
Remove the file "demofile.txt":

import os
os.remove("demofile.txt")
Check if File exist:
To avoid getting an error, you might want to check if the file exists before you try to delete it:

Example
Check if file exists, then delete it:

import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")
Delete Folder
To delete an entire folder, use the os.rmdir() method:

Example
Remove the folder "myfolder":

import os
os.rmdir("myfolder")